#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
body{
  margin: 0;
  height: 100vh;   
  display: flex;
  justify-content: center;
  align-items: center;

}


.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
   background: rgba(106, 24, 124, 0.4);
  padding: 20px 30px;
  border-radius: 12px;
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
}

.content select{
    width: 100%;
    height: 30px;
    border-radius: 8px;
    margin-bottom: 10px;
    
}
button{
    width: 105px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:8px ;
    cursor: pointer;
    
}
button:hover{
    transform:scale(1.1);
    transition:0.2s;
}
#out{
    font-size: 18px;
  transition: opacity 0.3s ease, transform 0.3s ease;


}